.app {
  font-family: 'Lato', sans-serif;
  $search-section-background: #4D394B;
  $button-color: #56B68B;
  $thumbnail-size: 250px;

  .logo {
    background: url(./img/header_logo_sprite.png) left top no-repeat;
    background-size: 106px 60px;
    height: 30px;
    width: 167px;
    float: left;
    top: 11px;
    position: relative;
    left: 30px;
  }
  .search__section {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 25px 0;
    background-color: $search-section-background;
  }
  .search__input {
    margin-right: 7px;
    margin-bottom: 0;
    font-size: 1.249rem;
    padding: .743rem;
    width: 240px;
    border: 1px solid #C5C5C5;
    border-radius: .25rem;
    outline: 0;
    color: #555459;
    max-width: 100%;
    transition: width .3s ease-in-out, box-shadow .3s ease-out, border-color .3s ease-out;
    box-shadow: none;
    height: auto;
    &:focus {
      width: 400px;
      border-color: rgba(0,0,0,0.3);
      box-shadow: 0 0 10px 5px rgba(0,0,0,.4);
    }
  }
  .search__button--submit {
    margin: 0;
    line-height: 3rem;
    padding: 0;
    font-size: 1.126rem;
    letter-spacing: .5px;
    cursor: pointer;
    width: 145px;
    display: inline-block;
    font-weight: 700;
    border: 1px solid $button-color;
    border-radius: 4px;
    background-color: $button-color;
    color: white;
    visibility: top;
    &:hover {
      background-color: rgba(44,210,135,.9);
    }
    &:focus {
      outline: 0;
    }
    &:active {
      background-color: rgba(44,210,135,1);
    }
  }
  .lightbox {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lightbox__wrapper {
    position: absolute;
    text-align: center;
  }
  .lightbox__image {
    width: 100%;
    max-height: 100%;
  }
  .lightbox__button--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }
  .lightbox__button {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    &:hover {
      cursor: pointer;
    }
  }
  .lightbox__button--close {
    font-size: 3em;
    position: absolute;
    top: 5px;
    right: 15px;
  }
  .lightbox__button--prev, .lightbox__button--next {
    font-size: 4em;
    opacity: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  $padding-button: 30;
  .lightbox__button--prev {
    left: 0;
    justify-content: flex-start;
    i {
      padding-left: $padding-button + px;
    }
  }
  .lightbox__button--next {
    right: 0;
    justify-content: flex-end;
    i {
      padding-right: $padding-button + px;
    }
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .image__container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .image__thumbnail--container {
    margin: 15px;
    width: $thumbnail-size;
    height: $thumbnail-size;
    display: inline-block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .07s ease-in-out;
    z-index: 1;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
